.App {
  text-align: center;
}

.AppLogo {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.AppContainer {
  min-width: 320px;
}

.SearchInput {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.Left {
  text-align: left;
}

.Loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #555; /* Dark grey */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(50% - 31px);
  top: 120%;
}

.SorryMessage {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin-top: 15%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 50%;
  width: 50%;
}

@media screen and ( max-width: 1440px ) {
  .Card {
    height: auto;
    width: 100%;
  }
}

/* On mouse-over, add a deeper shadow */
.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.CardContainer {
  padding: 0 16px 16px 16px;
}

.ProductList {
  padding-inline-start: 0;
  list-style-type: none
}

.ProductImage {
  height: auto;
  width: 100%;
}

.IngredientList {
  padding-left: 0;
  font-size: 12px;
}

.IngredientListItem {
  display: inline;
  font-size: 16px;
  font-style: italic
}

.comma-list li::after {
  content: ", ";
}

.comma-list li:last-child::after {
  content: "";
}

.ProductName {
  font-size: 24px;
  font-weight: bold;
}
